#[link(name="sdl2", vers="0.1", uuid="29771962-5672-4eba-b1ac-79a26c16bd71")];
#[license = "MIT"];
#[author = "Eunchong Yu <kroisse@gmail.com>"];
#[crate_type = "lib"];

pub use self::global::*;
pub use self::rect::*;
pub use self::pixels::*;

pub mod util;

pub mod rect;
pub mod pixels;
pub mod window;
pub mod render;
pub mod surface;
pub mod events;
pub mod scancode;
pub mod keycode;

pub mod global;

pub mod ll;

pub mod ext;
